<html lang="en" xmlns="http://www.w3.org/1999/xhtml"xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{~/editormd/css/editormd.preview.min.css}" />
<link rel="stylesheet" th:href="@{~/editormd/css/editormd.min.css}" />
</head>
<body>

<!-- 因为我们使用了dark主题，所以在容器div上加上dark的主题类，实现我们自定义的代码样式 -->
<div class="content editormd-preview-theme-dark" id="content" th:text="${article.text }"></div>
<script src="@{~/js/jquery-3.1.1.min.js}"></script>
<script src="@{~/editormd/lib/marked.min.js}"></script>
<script src="@{~/editormd/lib/prettify.min.js}"></script>
<script src="@{~/editormd/editormd.min.js}"></script>
<script type="text/javascript">
  editormd.markdownToHTML("content");
</script>
</body>
</html>