<html lang="en" xmlns="http://www.w3.org/1999/xhtml"xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>动态</title>
</head>
<body>
		<div class="layui-container" style="width:100%"   data-th-fragment="dynamic">
			<div class="layui-row layui-col-space15" th:object="${user}">
				<div class="layui-col-md6 fly-home-jie">
					<div class="panel panel-default">
						<div class="panel-heading">
							<span th:text="*{userName}">我</span>最近的提问
						</div>
						<div class="panal-body layui-collapse">
							<div class="layui-colla-item">
								<h2 class="layui-colla-title">
									问题1<span style="float: right">待解决</span>
								</h2>
								<div class="layui-colla-content">问题问题问题问题问题问题问题问题问题问题</div>
							</div>
							<div class="layui-colla-item">
								<h2 class="layui-colla-title">
									问题2<span style="float: right">已解决</span>
								</h2>
								<div class="layui-colla-content">问题问题问题问题问题问题问题问题问题问题</div>
							</div>
							<div class="layui-colla-item">
								<h2 class="layui-colla-title">
									问题3 <span style="float: right">已解决</span>
								</h2>
								<div class="layui-colla-content">问题问题问题问题问题问题问题问题问题问题</div>
							</div>
						</div>
					</div>
				</div>
				<div class="layui-col-md6 fly-home-jie">
					<div class="panel panel-default">
						<div class="panel-heading">
							<span th:text="|*{userName} |">我</span>最近的回答
						</div>
						<div class="panal-body layui-collapse">
							<div class="layui-colla-item">
								<h2 class="layui-colla-title">
									回答1<span style="float: right">被采纳</span>
								</h2>
								<div class="layui-colla-content">回答回答回答回答回答回答回答回答回答回答回答</div>
							</div>
							<div class="layui-colla-item">
								<h2 class="layui-colla-title">
									回答2<span style="float: right">被采纳</span>
								</h2>
								<div class="layui-colla-content">回答回答回答回答回答回答回答</div>
							</div>
							<div class="layui-colla-item">
								<h2 class="layui-colla-title">
									回答3<span style="float: right">未采纳</span>
								</h2>
								<div class="layui-colla-content">回答回答回答回答回答回答回答回答回答回答</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div th:object="${user}"  data-th-fragment="cat"></div>
</body>
</html>