.feiyu-panel {
    margin: 15px 0;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
}
.feiyu-panel[pad20]{
    padding: 20px;
}
.feiyu-panel-title{
    position: relative; 
    height: 45px; 
    line-height: 50px; 
    padding: 0 15px; 
    border-bottom: 1px dotted #E9E9E9; 
    color: #333; 
    border-radius: 2px 2px 0 0; 
    font-size: 14px;
}
.feiyu-panel-main{
    padding: 10px 15px;
}

    a:focus,a:hover{
        text-decoration: none;
    }
    .layui-tab-title .layui-this {
        background-color: #1AA094;
        color: #fff;
    }

    .fa{
        margin-right:5px;
        min-width: 10px;
    }
